<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor.ai | Summary</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="white-background"></div>
    <div class="body-container">
        <div class="top-header">
            <a href="/upload" class="logo-title">Valor.ai</a>
            <a href="/logout" class="logged-user"><%=username%></a>
        </div>
        <div class="main-body">
            <div class="section-nav">
                <a href="/upload">Upload</a>
                <a href="" class="current-page">Summary</a>
                <a href="/match_history">Match history</a>
                <a href="">Learn</a>
            </div>
            <span class="vertical-line"></span>
            <div class="section-summary">
                <div class="section-title">Summary</div>
                <div class="summary-container">
                    <div class="summary-instance">
                        <div class="summary-instance-title">Stats</div>
                        <table class="summary-instance-info">
                            <tr>
                                <td>Average mistakes per match</td>
                                <td><%= mistakedata.totalmistake/mistakedata.totalmatch %></td>
                            </tr>
                            <tr>
                                <td>Total mistakes analyzed</td>
                                <td><%= mistakedata.totalmistake %></td>
                            </tr>
                            <tr>
                                <td>Total match analyzed</td>
                                <td><%= mistakedata.totalmatch %></td>
                            </tr>
                            <tr>
                                <td>Percentage change</td>
                                <td><%= mistakedata.percentage %></td>
                            </tr>
                        </table>
                    </div>
                    <div class="summary-instance">
                        <div class="summary-instance-title">Most repeated mistakes</div>
                        <table class="summary-instance-info">
                            <tr>
                                <td><%= mistakedata.mistake.rank[0] %></td>
                                <td><%= mistakedata.mistake.count[0] %></td>
                            </tr>
                            <tr>
                                <td><%= mistakedata.mistake.rank[1] %></td>
                                <td><%= mistakedata.mistake.count[1] %></td>
                            </tr>
                            <tr>
                                <td><%= mistakedata.mistake.rank[2] %></td>
                                <td><%= mistakedata.mistake.count[2] %></td>
                            </tr>
                        </table>
                    </div>
                    <div class="summary-instance">
                        <div class="summary-instance-title">Latest analysis</div>
                        <table class="summary-instance-info">
                            <tr>
                                <td>Whiffing</td>
                                <td><%= mistakedata.lastmatch.whiff %></td>
                            </tr>
                            <tr>
                                <td>Dry peeking</td>
                                <td><%= mistakedata.lastmatch.drypeek %></td>
                            </tr>
                            <tr>
                                <td>Bad crosshair placement</td>
                                <td><%= mistakedata.lastmatch.crosshair %></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>