<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor.ai | Analysis</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js"></script>
</head>
<body>
<div class="confirmation-box" id="discardConfirm">
        <div class="dim-background">
            <div class="discard-confirm">
                <div>Confirm discard review? (All mistakes analyzed will be deleted)</div>
                <form class="confirmation-button" action="/discard_mistake" method="post">
                    <button class="confirmation-save" onclick="hideDiscardConfirm()" type="button">Cancel</button>
                    <button class="confirmation-discard" type="submit">Discard</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="white-background"></div>
    <div class="body-container">
        <div class="top-header">
            <a href="/upload" class="logo-title">Valor.ai</a>
            <a href="/logout" class="logged-user"><%=username%></a>
        </div>
        <div class="main-body flex-column">
            <div class="nav-button" >
                <form class="nav-button" action="/upload_tips" method="get">
                    <button type="button" class="button-nobox-style" onclick="showDiscardConfirm()">⟵ Back</button>
                    <button type="submit" class="button-style">Next</button>
                </form>
            </div>
            <div class="analysis-container">
                <div class="section-analysis">
                    <div class="analysis-heading1">Analysis completed</div>
                    <div class="section-video">
                    <video class="analysis-video" id="videoPlayer" controls>
                        <source src="<%=videopath%>" type="video/mp4">
                    </video>
                    </div>
                </div>
                <div class="section-timestamp">
                    <div class="timestamp-heading">Timestamps</div>
                    <div class="timestamp-mistake-box">
                        <div class="mistake-container"> <!--instance of 1 mistake type-->
                            <div class="mistake-name" onmouseover="checkPopupPos(this)">Crosshair placement
                                <span class="mistake-popup">
                                    <div class="popup-video">
                                        <img src="<%= mistakeInfo[2][1].url %>" alt=""/>
                                    </div>
                                    <div class="popup-info">
                                        <div class="info-name"><%= mistakeInfo[2][0].name %></div>
                                        <div class="info-description"><%= mistakeInfo[2][0].description %></div>
                                    </div>
                                </span>
                            </div>
                            <div class="mistake-timestamp-container">
                                <% for(var i = 0; i < mistake.crosshair.length; i++){%>
                                    <div class="timestamp-button" onclick="goToTimestamp(<%=mistake.crosshair[i]%>)">
                                    <%var calculatedTime = new Date( null );%>
                                    <%calculatedTime.setSeconds(mistake.crosshair[i]);%>
                                    <%=calculatedTime.toISOString().substr( 14, 5 )%>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                        <div class="mistake-container"> <!--instance of 1 mistake type-->
                            <div class="mistake-name" onmouseover="checkPopupPos(this)">Dry peeking
                                <span class="mistake-popup">
                                    <div class="popup-video">
                                        <img src="<%= mistakeInfo[1][1].url %>" alt=""/>
                                    </div>
                                    <div class="popup-info">
                                        <div class="info-name"><%= mistakeInfo[1][0].name %></div>
                                        <div class="info-description"><%= mistakeInfo[1][0].description %></div>
                                    </div>
                                </span>
                            </div>
                            <div class="mistake-timestamp-container">
                                <% for(var i = 0; i < mistake.dry.length; i++){%>
                                    <div class="timestamp-button" onclick="goToTimestamp(<%=mistake.dry[i]%>)">
                                    <%var calculatedTime = new Date( null );%>
                                    <%calculatedTime.setSeconds(mistake.dry[i]);%>
                                    <%=calculatedTime.toISOString().substr( 14, 5 )%>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                        <div class="mistake-container"> <!--instance of 1 mistake type-->
                            <div class="mistake-name" onmouseover="checkPopupPos(this)">Whiffing
                                <span class="mistake-popup">
                                    <div class="popup-video">
                                        <img src="<%= mistakeInfo[0][1].url %>" alt=""/>
                                    </div>
                                    <div class="popup-info">
                                        <div class="info-name" ><%= mistakeInfo[0][0].name %></div>
                                        <div class="info-description"><%= mistakeInfo[0][0].description %></div>
                                    </div>
                                </span>
                            </div>
                            <div class="mistake-timestamp-container">
                                <% for(var i = 0; i < mistake.whiff.length; i++){%>
                                    <div class="timestamp-button" onclick="goToTimestamp(<%=mistake.whiff[i]%>)">
                                    <%var calculatedTime = new Date( null );%>
                                    <%calculatedTime.setSeconds(mistake.whiff[i]);%>
                                    <%=calculatedTime.toISOString().substr( 14, 5 )%>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function goToTimestamp(timestamp) {
        const video = document.getElementById('videoPlayer');
        video.currentTime = timestamp;
        video.play();
    }
    </script>
</body>
</html>